 *{
 	padding:0px;margin:0px;
 }
#printDiv{
	width:84mm;
	padding: 3mm;
	text-align: center;
}
.div1 span{
	margin-left:2mm;margin-right: 2mm;
}
.div2 span{
	margin-left:3.5mm;margin-right: 3.5mm;
}
.left{
	text-align: left;
}
.center{
	text-align: center;
}